<div class="card col {{cardColor}}">
  <div class="card-image waves-effect waves-block waves-light card-ownimage"> <!-- CardImage -->
    <img class="activator" src="{{championImage}}">
  </div>
  <div class="card-content"> <!-- CardContent -->
    <div class="row"> <!-- CardTitle -->
      <span class="card-title grey-text text-darken-4">
        <div class="col s8 padding-0"><strong>{{championName}}</strong></div>
        <div class="col s2 padding-0"><img class="mastery-img tooltipped" src="assets/champmastery/{{championMasteryImage}}.png" data-position="top" data-tooltip="{{championMasteryPoints}} points"></div>
      </span>
    </div>
    <div class="row"> <!-- PersonInfo -->
      <div class="col s6 padding-0"><span>{{name}}<br>{{summonerElo}}</span></div>
      <div class="col s2 offset-s2 padding-0"><img class="elo-img tooltipped" src="assets/elos/{{eloImagePath league}}.png" data-position="bottom" data-tooltip="{{pdl}} LP"></div>
    </div>
  </div>
  <div class="card-reveal overflow-hidden {{cardColor}}"> <!-- CardReveal -->
    <div class="row margin-right-0"> <!-- RevealTitle -->
      <div class="col s11 offset-s1 padding-0"><span class="card-title grey-text text-darken-4">{{championName}}<i class="material-icons right">close</i></span></div>
    </div>
    <div class="row margin-right-0"> <!-- RevealContent -->
       <!-- Runes -->
      <div class="col s1 padding-0" style="padding-left: 0.3rem !important">
        <img class="keystone tooltipped" src="assets/runes/perk/{{runes.[0].runeId}}.png" data-position="bottom" data-tooltip="<strong>{{{runes.[0].runeName}}}</strong><br>{{{runes.[0].runeDescription}}}">
      </div>
      <div class="col s10 offset-s2 padding-0">
        <img class="non-keystone tooltipped" data-position="bottom" data-tooltip="<strong>{{{runes.[1].runeName}}}</strong><br>{{{runes.[1].runeDescription}}}" src="assets/runes/perk/{{runes.[1].runeId}}.png">
        <img class="non-keystone tooltipped" data-position="bottom" data-tooltip="<strong>{{{runes.[2].runeName}}}</strong><br>{{{runes.[2].runeDescription}}}" src="assets/runes/perk/{{runes.[2].runeId}}.png">
        <img class="non-keystone tooltipped" data-position="bottom" data-tooltip="<strong>{{{runes.[3].runeName}}}</strong><br>{{{runes.[3].runeDescription}}}" src="assets/runes/perk/{{runes.[3].runeId}}.png">
      </div>
      <div class="col s6 offset-s3 padding-0" style="padding-left: 0.2rem !important">
        <img class="non-keystone tooltipped" data-position="bottom" data-tooltip="<strong>{{{runes.[4].runeName}}}</strong><br>{{{runes.[4].runeDescription}}}" src="assets/runes/perk/{{runes.[4].runeId}}.png">
        <img class="non-keystone tooltipped" data-position="bottom" data-tooltip="<strong>{{{runes.[5].runeName}}}</strong><br>{{{runes.[5].runeDescription}}}" src="assets/runes/perk/{{runes.[5].runeId}}.png">
      </div>
    </div>
    <div class="row white-text statistic-row">
      <div class="col s5 padding-0 outerspace-transparent z-depth-3 statistic-col">
        <strong style="font-size: 14px !important">{{championWinrate}}</strong> WinRate<br>{{championName}}<br>{{championWinLost}}
      </div>
      <div class="col s5 offset-s2 padding-0 outerspace-transparent z-depth-3 statistic-col">
        <strong style="font-size: 14px !important">{{rankedWinrate}}</strong> WinRate<br>@ Ranked<br>{{rankedWinLost}}
      </div>
    </div>
  </div>
</div> <!-- End Cartão !-->
