<div id="profile-modal" class="modal modal-fixed-footer rich-black outerspace-lighten-text profile-modal center-align">
  <div class="modal-content profile-modal-content modal-background left-align">
    <h3 style="margin-bottom: 0rem"><strong>PROFILE</strong></h3><br>

    <!-- Profile Information -->
    <div class="row" style="margin-top: 0.4rem">
      <div class="col s12 m3 profile-inner center-align">
        <img class="circle responsive-img perfil-icon" src="http://ddragon.leagueoflegends.com/cdn/{{patch}}/img/profileicon/{{profileIconId}}.png">
        <span class="center-align" style="font-size: 2.5rem">{{name}}</span><br>
        <img src="assets/profile/belownick/{{leagues.HIGHER_QUEUE.elo}}.png" style="max-width: 100%" alt="">
        <span style="font-size: 1.5rem">Level {{summonerLevel}}</span>
      </div>
      <div class="col s12 m3 profile-inner profile-runes center-align">
        <span class="flow-text">Solo/Duo 5x5</span><br>
        <img class="profile-runes-images tooltipped" data-position="right" data-delay="100" data-tooltip="{{eloJoin leagues.RANKED_SOLO_5x5}}<br>{{leagues.RANKED_SOLO_5x5.leagueName}}<br> {{leagues.RANKED_SOLO_5x5.lp}} LP" src="assets/elos/{{eloImagePath leagues.RANKED_SOLO_5x5}}.png">
        <br><span class="flow-text">Flex 5x5</span><br>
        <img class="profile-runes-images tooltipped" data-position="right" data-delay="100" data-tooltip="{{eloJoin leagues.RANKED_FLEX_SR}}<br>{{leagues.RANKED_FLEX_SR.leagueName}}<br>{{leagues.RANKED_FLEX_SR.lp}} LP" src="assets/elos/{{eloImagePath leagues.RANKED_FLEX_SR}}.png">
        <br><span class="flow-text">Flex 3x3</span><br>
        <img class="profile-runes-images tooltipped" data-position="right" data-delay="100" data-tooltip="{{eloJoin leagues.RANKED_FLEX_TT}}<br>{{leagues.RANKED_FLEX_TT.leagueName}}<br>{{leagues.RANKED_FLEX_TT.lp}} LP" src="assets/elos/{{eloImagePath leagues.RANKED_FLEX_TT}}.png">
      </div>
      <div class="col s12 m5 profile-inner profile-mastery left-align">

        {{#if championMastery.m7}}
          <span class="flow-text">Mastery 7</span><br>
          {{#each championMastery.m7}}
            <img class="circle responsive-img tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{championPoints}}" style="max-height: 4rem" src="http://ddragon.leagueoflegends.com/cdn/{{@root.patch}}/img/champion/{{championName}}.png">
            <img class="profile-mastery-img" src="assets/champmastery/7.png">
          {{/each}}
        {{/if}}

        {{#if championMastery.m6}}
          <br><span class="flow-text">Mastery 6</span><br>
          {{#each championMastery.m6}}
            <img class="circle responsive-img tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{championPoints}}" style="max-height: 4rem" src="http://ddragon.leagueoflegends.com/cdn/{{@root.patch}}/img/champion/{{championName}}.png">
            <img class="profile-mastery-img" src="assets/champmastery/6.png">
          {{/each}}
        {{/if}}

        {{#if championMastery.m5}}
          <br><span class="flow-text">Mastery 5</span><br>
          {{#each championMastery.m5}}
            <img class="circle responsive-img tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{championPoints}}" style="max-height: 4rem" src="http://ddragon.leagueoflegends.com/cdn/{{@root.patch}}/img/champion/{{championName}}.png">
            <img class="profile-mastery-img" src="assets/champmastery/5.png">
          {{/each}}
        {{/if}}

        {{#if championMastery.m4}}
          <br><span class="flow-text">Mastery 4</span><br>
          {{#each championMastery.m4}}
            <img class="circle responsive-img tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{championPoints}}" style="max-height: 4rem" src="http://ddragon.leagueoflegends.com/cdn/{{@root.patch}}/img/champion/{{championName}}.png">
            <img class="profile-mastery-img" src="assets/champmastery/4.png">
          {{/each}}
        {{/if}}

        {{#if championMastery.m3}}
          <br><span class="flow-text">Mastery 3</span><br>
          {{#each championMastery.m3}}
            <img class="circle responsive-img tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{championPoints}}" style="max-height: 4rem" src="http://ddragon.leagueoflegends.com/cdn/{{@root.patch}}/img/champion/{{championName}}.png">
            <img class="profile-mastery-img" src="assets/champmastery/3.png">
          {{/each}}
        {{/if}}

        {{#if championMastery.m2}}
          <br><span class="flow-text">Mastery 2</span><br>
          {{#each championMastery.m2}}
            <img class="circle responsive-img tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{championPoints}}" style="max-height: 4rem" src="http://ddragon.leagueoflegends.com/cdn/{{@root.patch}}/img/champion/{{championName}}.png">
            <img class="profile-mastery-img" src="assets/champmastery/2.png">
          {{/each}}
        {{/if}}

        {{#if championMastery.m1}}
          <br><span class="flow-text">Mastery 1</span><br>
          {{#each championMastery.m1}}
            <img class="circle responsive-img tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{championPoints}}" style="max-height: 4rem" src="http://ddragon.leagueoflegends.com/cdn/{{@root.patch}}/img/champion/{{championName}}.png">
            <img class="profile-mastery-img" src="assets/champmastery/1.png">
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="modal-footer rich-black">
    <a href="#!" class="modal-action modal-close waves-effect waves-blue outerspace white-text btn">Close</a>
    <!-- Need to change it dinamically to Apply if something has changed-->
  </div>
</div>
